<br />
<br />
<div class="homeTitles">
  <h5>Hello, traveller!</h5>
  <h1>Welcome to the Balkans!</h1>
</div>
<hr />

<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/dubr.jpeg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/slove.jpeg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/greece.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/srb.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/paros.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/slo.jpeg" class="d-block w-100" alt="..." />
    </div>
  </div>
</div>
<hr>
<h1 class="home-title">About the Balkans</h1>
<p class="home-text">
  The Balkans, located in southeastern Europe, embody a region of profound historical significance, cultural diversity, and captivating natural beauty. This peninsula has long been a crossroads of civilizations and empires, 
  resulting in a unique fusion of ethnicities, religions, and traditions. The Balkans have witnessed the rise and fall of great empires, such as the Byzantine and Ottoman Empires, leaving behind a rich tapestry of historical events and social complexities. 
  This intricate history has shaped the Balkans into a region with a complex identity and a vibrant mix of cultural influences.
  </p>
  <p class="home-text-1">Aside from its fascinating history and cultural heritage, the Balkans boast breathtaking landscapes that enchant visitors.
    From the majestic peaks of the Balkan Mountains to the pristine beaches along the Adriatic and Aegean Seas, the region offers a diverse range of natural wonders. National parks, tranquil lakes,
    and enchanting rivers grace the Balkans, providing ample opportunities for outdoor enthusiasts and nature lovers to explore and appreciate the region's extraordinary beauty.
    With its awe-inspiring landscapes, the Balkans truly captivate the senses, inviting travelers to immerse themselves in its natural splendor.
    </p>