<br />
<br />
<div class="homeTitles">
  <h5>Hello, traveller!</h5>
  <h1>Welcome to the Balkans!</h1>
</div>
<hr />

<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/cro.webp" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/slo.jpeg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/mnt.jpeg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/greece.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/srb.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/images/paros.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
</div>