<header class="profileHeader">
<div class="carousel">
   <div class="slide">
    <h3>Γειά!</h3>
    <p>Καλως ηρθες!</p>
  </div>
  <div class="slide">
    <h3>Zivijo,</h3>
    <p>dobrodosli!</p>
  </div>
  <div class="slide">
    <h3>Здраво,</h3>
    <p>добродошли!</p>
  </div>
</div>
</header>


<div>
  <h2 class="bucketlist">My bucketlist:</h2>
  <ul>
    {{#each user.bucketList}}
      <li>{{countries}}</li>
      <a href="/countries/{{_id}}">More about {{this.countries}}</a>
<form action="/favorites/{{_id}}/delete" method="post">
<button class="btn btn-light rounded-pill px-3" type="submit">Remove</button>
</form>
    {{/each}}
  </ul>
</div>
</div>
</div>
<div class="mapImg">
    <img src="/images/map.jpg">
</div>


<div class="logout">
  <a class="tag name" href="/logout">Log Out</a>
</div>
