body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

.navbar {
  padding: 0% !important;
}

.navbar-nav {
  padding-left: 40px !important;
}
.nav-item {
  align-items: left;
}

.credentials {
  display: flex;
  justify-content: left;
}

h1 {
  color: 15px;
}

/* .user-profile {
  background-image: url(/images/bled.webp);
  background-repeat: no-repeat;
} */
.countryName {
  text-align: center;
}

.countryQuote {
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

.countryDescription {
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;
}

.countryThing {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.threeImg {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 20px;
}

.firstText {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}
.comment-form {
  width: 100%;
}
.textarea {
  width: 100%;
}
.let-us {
  text-align: center;
}
.bucket-list {
  display: flex;
  justify-content: center;
}
.container-fluid {
  padding: 0px !important;
}
.secondText {
  text-align: justify;
  font-size: 15px;
  padding-bottom: 5px;
}

.threeText {
  text-align: center;
  font-size: 15px;
  padding-bottom: 10px;
}

.profileHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.headerImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  color: black !important;
}

#navbarSupportedContent {
  background-color: lightblue;
}

.profile-style {
  display: flex;
  justify-content: space-evenly;
}

.homeTitles {
  text-align: center;
}

.hidden {
  display: none;
}

.collapse {
  justify-content: space-between;
}

.bucketlist {
  text-align: center;
  padding: 1rem;
}

.profile-carousel-header {
  font-size: 100px;
}

.profile-carousel-paragraph {
  font-size: 50px;
}

.bucketlist-info-div {
  min-width: 50%;
}

.bucketlist-title-div {
  align-items: left;
}

.profile-content {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.btn-more-about {
  color: black;
}

.list-countries {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 50%;

  margin-left: 25%;
}

.bottom-page {
background-color: lightblue;
margin-top: 50px !important;
}

.text-body-secondary {
  text-align: center;
}
