

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white
}


.navbar{
  padding: 0% !important;
}

.navbar-nav {
  padding-left: 40px !important;
}
.nav-item{
    align-items: left;
}

.credentials {
  display: flex;
  justify-content: left;
}

h1 {
  color: 15px;
}

.countryName {
  text-align: center;
}

.countryQuote{
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

.countryDescription {
  text-align:justify;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.countryThing{
  text-align: center;
}

.threeImg {
  display: flex;
  justify-content: space-evenly;
}

.firstText {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.secondText{
  text-align: justify;
  font-size: 15px;
}

.threeText {
  text-align: center;
  font-size: 15px;
}

.profileHeader {
  text-align: center;
}
.headerImage {
  display: flex;
  justify-content: center;
}
nav {
  color: black !important;
}

#navbarSupportedContent {
  background-color:  #00b7ff;
}

.mapImg {
  display: flex;
  justify-content: center;
}

.homeTitles {
  text-align: center;
}


.hidden{
  display: none;
}
