 {{#if isFav}}
          <form action="/countries/removeFavs/{{country._id}}" method="post">
            <button class="tag name" type="submit">Remove from my favourite
              Beers</button>
          </form>
        {{else}}
          <form action="/countries/addFavs/{{country._id}}" method="post">
            <button class="tag name" type="submit">Add to my favourite Beer</button>
          </form>
        {{/if}}
